body {
  background-color: #9B9B9B;
  font-family: Helvetica, Arial, sans-sans-serif;
}

a {
  text-decoration: none;
  color: red;
}

h1, h2, h3{
  margin: 0;
}

#container{
  background-color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#header{
  background-color: #DF5151;
  color: white;
  text-align: center;
  padding: 10px;
}

#content{
  padding: 10px;
}

#nav{
  float: left;
  width: 180px;
}

#nav ul{
  list-style-type: none;
  padding: 0;
}

#nav .selected{
  font-weight: bold;
}

#main{
  float: right;
  width: 600px;
}

#footer{
  text-align: right;
  color: white;
  padding: 10px;
  clear: both;
  background-color: #9B9B9B;
}
